BODY {
	background-color:#000;
}

#Table_01 {
	border-style:solid;
	border-color:#e3fcce;
	border-width:1px;
	margin-top:5px;
	margin-bottom:5px;
}

#loader {
	position:absolute;
	z-index:10;
	top:0px;
	left:0px;
	padding:10px;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	color:#e3fcce;
	width:1250px;
	height:900px;
	background-color:black;
	text-align:center;
}

#td3 {
	border-style:solid;
	border-color:red;
	
}

#td7 {
	background-image:url("images/new_cust_page_07.gif");
	text-align:right;
}

#td6 {
	background-image:url("images/new_cust_page_06.gif");
}

#td6 A {
	padding:5px;
	margin:5px;
	
}

#tv {
	width:680px;
	height:480px;
	border-style:solid;
	border-color:white;
	border-style:solid;
	background-image:url("images/tvbg.png");
	background-repeat:repeat;
	overflow:hidden;
	position:relative;
}




#topmenu {
	padding:5px;
}

#topmenu  A {
 	color:#e3fcce;
	font-weight:bold;	
	font-family:Verdana;
	font-size:11px;

}

#garmin_prod_info TABLE {
                  margin-left:20px;
                  color:white;
}

#garmin_prod_info TD {
  text-align:justify;
  font-size:12px;
}

#garmin_prod_info A {
                  font-weight:bold;

}



/*
	Featured Content Slider
	by: Chris Coyier
*/
body 										{ font-family: Arial, Helvetica, sans-serif; font-size: 10px; }

					  				  
/*
	UTILITY STYLES
*/				  				  
					  				  
.floatLeft 									{ float: left; margin-right: 10px;}
.floatRight									{ float: right; }
.clear 										{ clear: both; }
a											{ outline: none; }


/*
	PAGE STRUCTURE
*/


/*
	TYPOGRAPHY
*/
ul											{ list-style: square inside; }
a, a:visited								{ color: #729dff; text-decoration: none; }
a:hover, a:active							{ color: white; }
blockquote									{ padding: 0 20px; margin-left: 20px; border-left: 20px solid #ccc; font-size: 14px; 
									  		  font-family: Georgia, serif; font-style: italic; margin-top: 10px;}

/*
	SLIDER
*/
/*.panel 								{ background-color:white; height: 480px;}*/
.slider-wrap								{ width: 680px; height:480px; position: absolute; background:none; }			
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 680px; height: 480px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 680px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ border: 1px solid black; margin-right: 5px; }

#movers-row									{  }
#movers-row div								{ float: right; }
#movers-row div a.cross-link 						{ float: right; font-weight:bold; }
.active-thumb 			{   }


.photo-meta-data							{ background: url(images/transpBlack.png); padding: 10px; height: 30px;
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link			{ display: block; width: 150px; margin-top: -14px;  position: relative; padding-top: 15px; z-index: 9999; }



.panel LI {
       font-size:13px;
}

#stopbutton {
            position:absolute;
            z-index:50;
            background-color:rgb(255,255,255);
            width:40px;
            height:10px;
            bottom:10px;
            right:10px;
            padding:10px;
            font-size:12px;
            font-weight:bold;
            cursor:pointer;
            text-align:center;
            font-family:Verdana;
}




