/* -------------------------------------------------------------- 
  
  STYLE CSS
   * Filename:        style.css
   * Version:         2007-10-22 YYYY-MM-DD
   * Website:         http://spiffybox.com/index.php
	 										http://www.modxcms.com/simple-rounded-corner-css-boxes.html
  
	Modified:
    * d.olufson (2007-10-22)
/* Side Navigation
--------------------------------------------------*/
.span-5 .cssbox { 
width:190px !important; 
width: 175px; 
padding-right:0px; 
margin:20px auto; } 

.span-6 .cssbox { 
width:230px !important; 
width: 230px; 
padding-right:0px; 
margin:0 0 25px 0; } 

.span-7 .cssbox { 
width:270px !important; 
width: 255px; 
padding-right:0px; 
margin:20px auto; } 

.span-8 .cssbox { 
width:310px !important; 
width: 300px; 
padding-right:0px; 
margin:20px auto; } 

/* static styles 
-------------------------------------------------------------- */
.cssbox_link { 
background: transparent url(../images/img.php.png) no-repeat bottom left; 
margin-right:7px; padding-bottom:7px; }
.cssbox_link a {color:#464D54; display:block; border-top:1px dotted #E6E6E4; margin:0px; padding:5px 0 7px 14px; text-decoration:underline;}
.cssbox_link a:hover { text-decoration:none;}

.cssbox, .cssbox_body {
background: transparent url(../images/img.php.png) no-repeat bottom right; }
.cssbox_head, .cssbox_head p {
background: transparent url(../images/img2.php.png) no-repeat bottom right; }

.cssbox_body { 
background-position:bottom left; 
margin-right:10px; 
padding:10px 15px 2px 15px; }

.cssbox_body p { padding-bottom:.7em; margin-bottom:.5em;
border-bottom:1px dotted #E6E6E4; }

.cssbox_head { 
background-position:top right; 
margin-right:0px; 
padding-right:40px } 

.cssbox_head p {
background-position:top left;
font-weight:700; 
font-family:"Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;margin:0; 
border:0;  
padding:10px 15px 8px 15px; 
height:auto !important; 
height:1%  } 
/* IE Holly Hack */ /* set the lower-left corner image */ 
