/* -------------------------------------------------------------- 
  
  STYLE CSS
   * Filename:        style.css
   * Version:         2007-10-22 YYYY-MM-DD
  
	Modified:
    * d.olufson (2007-11-28)
    
-------------------------------------------------------------- */

body { background: url(../images/bg-headerBar.jpg) left top repeat-x; color: #272B2F; }

/* Side Navigation
--------------------------------------------------*/
.side { padding:0; margin:0; }
.side dl { padding:0 0 25px 0; margin:0; text-align:left; }
.side dt { padding:4px 4px 4px 8px; margin:0; background-color:#F0F0ED; border-top:1px solid #E6E6E4; font-weight:700; font-family:"Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif; }
.side dd { padding:0; margin:0; }
.side a { padding:5px 0 5px 14px; margin:0; color:#272B2F; display:block; border-bottom:1px dotted #E6E6E4; background-color:#F9F9F8; text-decoration:none; }
.side a:hover { background-color:#F0F0ED;}
.side p { padding:0; margin:0; line-height:140%; }

/* Blog Containers
--------------------------------------------------*/
.sideFeed { padding:0; margin:0; }
.sideFeed a { text-decoration:underline; list-style:none; }
.sideFeed a:hover { text-decoration:none; }
.sideFeed ul { padding:0; margin:0; display:block; background-color:#F9F9F8; }
.sideFeed li { padding:10px; margin:0; display:block; border-bottom:1px dotted #E6E6E4; background-color:#F9F9F8; list-style:none; }
.fbsubscribelink a { padding:10px; margin:0; display:block; border-bottom:1px dotted #E6E6E4; background-color:#F9F9F8; text-decoration:none;}
.sideFeed p { padding:0; margin:0; line-height:140%; font-size:11px; }
.sideFeed a img { border:0; }
#creditfooter { padding:5px; margin:0; border-bottom:1px dotted #E6E6E4; background-color:#F9F9F8; list-style:none; clear:both; }

/* Side Features
--------------------------------------------------*/
.sideFeature { padding:0; margin:0; }
.sideFeature dl { padding:0; margin:0 0 25px 0; display:block; background-color:#F9F9F8; }
.sideFeature dt { padding:4px 4px 4px 8px; margin:0; background-color:#F0F0ED; border-top:1px solid #E6E6E4; font-weight:700; font-family:"Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif; }
.sideFeature dd { padding:10px 10px 10px 14px; margin:0; display:block; border-bottom:1px dotted #E6E6E4; background-color:#F9F9F8; list-style:none; }
.sideFeature a { text-decoration:underline; list-style:none; }
.sideFeature a:hover { text-decoration:none; }

/* =Side Container Styles 
---------------------------------- */
.sideNav { padding:0; margin:0; }
.sideNav li { list-style:none; padding:0; margin:0 0 8px 0; background-color: #ECECEC;
border-top: 1px solid #C1C1C1; font-size: 14px; font-weight: 700; border: 1px solid #C1C1C1; font-family:"Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;}
.sideNav li a {display:block; text-decoration:none; color:#A1A1A1; padding: 4px 0 4px 4px;}
.sideNav li a:hover { background-color:#6A6965; color:#E1E1E0;} 

.sideLatest { padding:0; margin:15px 0 0 0; list-style-type:circle; list-style-position:inside; font-size:11px;}
.sideLatest li { padding:5px 0 10px 0; margin:0; }
.sideLatest li a {text-decoration:none;}
.sideLatest li a:hover {text-decoration:underline;}
.sideLatest h5 {}

/* Market
--------------------------------------------------*/
.market img { padding:4px; border:1px solid #E6E6E4; background-color:#F9F9F8; }
.product img { padding:4px; }
.links img {border:none; padding:0; float:none; margin:0;}
.links {margin:10px 0; padding:0; display:block;}
.content01 { margin-top:20px; }
.content01 img { float:left; }

/* Category
--------------------------------------------------*/
.category table {text-align:center; width:inherit; border-bottom:1px dotted #E6E6E4; padding:0 0 10px 0;}
.category td {border-right:1px solid #E6E6E4; border-width:0 1px 0 0; padding:0; margin:0; text-align:center; width:20%;}
.category tr { margin:0; padding:0; }
.category table a {display:block; text-decoration:none; color:#464D54;}
.category table a:hover { text-decoration:underline;}
.category table img {border:none; background-color:#FFF; margin:0; padding:10px 0;}
.category table p { text-align:left; padding:15px 5px 5px 5px; margin:0;}

/* Alternating Tables
--------------------------------------------------*/
#playlist { border: 0px; width:100%; padding-top:15px; }
#playlist tbody tr td {
width:35%; color: #485056; padding: 3px 8px; border-left: 1px solid #D9D9D9; }
#playlist .odd td  {
color: #485056; padding: 3px 8px; border-left: 1px solid #D9D9D9; background-color:#edf3fe; }
#playlist .title td  {
color: #485056; padding: 5px 8px 3px 8px; border-left: 1px solid #D9D9D9; background-color:#CCDDFC; }

/* Misc
--------------------------------------------------*/
.left {float:left;}
.right {float:right;}
.nofloat {float:none;}
.footer { text-align:right; margin-top:40px; }
.footerHome { text-align:right; }
.ruleB { border-bottom:1px dotted #CCC; margin-bottom:20px; }
.ruleR { border-right:1px dotted #CCC; }
.ruleL { border-left:1px dotted #CCC; }
.breadcrumb { padding-bottom:5px; margin-bottom:20px; color:#969798;}
.checkin { padding:10px 10px 10px 0; margin:0 0 20px 0; color:#969798; background-image: url(../m/g/bk-topnav.jpg); text-align:right; width:auto;}
.button { border:none;}
p img.right {float:right;margin:0 0 1.5em 1.5em;}
.tabImage { float:right; margin:0; padding:4px; border:1px solid #e6e6e4; background-color: #f9f9f8;}
.tableTop { background-color:#F9F9F8; font-weight:700;}
.tableTop td {font-weight:700;}
.small {font-size:11px;}
#routeTab p {padding-right:375px;}
#poiTab h3 { background-color: #f9f9f8; margin-bottom: .5em; padding:5px;}
.marginB {margin-bottom:1.5em;}
.marginT {margin-top:1.5em;}

/* Demo
--------------------------------------------------*/
pre { font-size: 95%; font-family: Arial, Helvetica, sans-serif; padding: 1em; border: dashed 1px #999999; background-color: #FFFFF0; }
.toc { margin-bottom: 0em; }
.demoList { list-style-type: none; }
.demoList li { margin-left: 2em; margin-bottom: 0.5em; }
.blueHighlight { display: inline; color: blue; }
.tealHighlight { display: inline; color: teal; }
.greenHighlight { display: inline; color: green; }
.maroonHighlight { display: inline; color: maroon; }