/* -------------------------------------------------------------- 
   * Websites:         
	 http://dynamicsitesolutions.com/javascript/suckerfish-with-classes/
	 http://www.htmldog.com/articles/suckerfish/dropdowns/
  
  	Modified:
    * d.olufson (2007-09-20)
  
-------------------------------------------------------------- */
.header { margin-bottom:20px; }
.header img {margin:0;}
.suckerfish, .suckerfish ul {
	float: left;
	list-style: none;
	/* ie hover hack (background) */
	background:url(../m/g/gr-transparent.gif);
	padding: 0;
	margin: 0; }
.suckerfish a {
	display: block;
	color: #272B2F;
	text-decoration: none; }
.suckerfish li {
	float: left;
	padding: 0; }
.suckerfish li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width:auto;
	width: 14.4em;
	w\idth: 13.9em;
	font-weight: normal;
	margin: 0; }
.suckerfish li li {
	width:14em; 
	display:block; 
	background-color:#F9F9F8; 
	border-color:#CCC; 
	border-style:solid; 
	border-width:0 1px 1px 1px; 
	padding:0; 
	margin:0; }
.suckerfish li ul a {
	padding: .5em 0em .5em 1em ;
  margin:0; }
.suckerfish li:hover ul ul, .suckerfish li:hover ul ul ul, .suckerfish li.sfhover ul ul, .suckerfish li.sfhover ul ul ul {
	left: -999em; }
.suckerfish li:hover ul, .suckerfish li li:hover ul, .suckerfish li li li:hover ul, .suckerfish li.sfhover ul, .suckerfish li li.sfhover ul, .suckerfish li li li.sfhover ul {
	left: auto;
	z-index: 6000; }
.suckerfish li:hover, .suckerfish li.sfhover {
	background:#F0F0ED; }