#_calDiv {
	background-color:white;
	top:-5px;
	right:50px;
	position:absolute;
	font-size:11px;
	padding:5px;
	border-style:solid;
	border-width:1px;
	background-image:url("sunset.jpg");
	background-image:url("oildrilling.jpg");
	background-position:center center;
		

}



#_calDiv A {
	font-weight:bold;
	color:white;
}

.calendarHeader SPAN {
	padding:3px;
	font-family:Verdana,Geogria,Arial;
	font-size:10px;
	font-weight:bold;
	cursor:pointer;

}



.calendarHeader {
	text-align:center;
}

.daysOfTheWeek TD {
	background-color:rgb(0,0,0);
	padding:3px;
	color:white;
	font-weight:bold;
	width:25px;	
	
}

.thisMonthDay, .lastMonthDay, .nextMonthDay {
	padding:3px;
	text-align:right;
	border-style:solid;
	border-width:1px;
	font-weight:bold;
	color:white;
	background-color:black;
	-moz-opacity:0.75;
	filter:alpha(opacity:75);
}

.lastMonthDay, .nextMonthDay {
	color:rgb(200,200,200);
	-moz-opacity:0.5;
	filter:alpha(opacity:50);
}

.calendarHeader .monthName {
	font-size:18px;
	padding:3px;
	color:black;
	cursor:normal;
}


.thisMonthDay {
	color:black;
	background-color:white;
	border-color:black;
}