/* Global Styles */

body {
	margin:0px;
	}
	
td {
	font:11px arial;
	color:#CCC;
	}
	
a {
	color: #cc0000;
	text-decoration:none;
	font-weight:bold;
	}
	
a:hover {
	color: #990000;
	text-decoration:underline;
	}
	
/* ID Styles */
	
#navigation a {
	font:10px arial;
	/*color: #336666;*/
	color: #666666;
	text-decoration:none;
	letter-spacing:.1em;
	}
	
#navigation a:hover {
	color: #993300;
	text-decoration:underline;
	}

#padding {
	padding:20px 5px 20px 5px;
	}
	
#weekdays th {
	font:10px arial;
	color: #ffffff;
	letter-spacing:.2em;
	}

#calheader td {
	font-weight:bold;
	}

/* Class Styles */

.bg
{
	background-color:#444444;
}
.logo {
	font:18px times new roman;
	/*color: #333300;*/
	color:#fbde7c;
	letter-spacing:.4em;
	font-weight:bold;
	}

.login
{
	font:9px arial;
	color:#FF3300;
}


.popup
{
	border: solid white 1px; 
	padding: 10px; 
	background-color: #000; 
	/*text-align: justify; */
	font-size: 12px; 
	opacity: 0.75; 
	filter: alpha(opacity = 75);
	color:#CCCCCC;
}

.popop td, tr
{
	color:#CCCCCC;
}

.canvas
{
	border: solid white 1px; 
	padding: 10px; 
	background-color: #000; 
	text-align: justify; 
	font-size: 12px; 
	opacity: 0.75; 
	filter: alpha(opacity = 75);
}


.login td
{
	font:9px arial;
	color:#FF3300;
}
.sidebarText {
	font:12px georgia;
	/*color: #336666;*/
	color:#666666;
	line-height:18px;
	}
	
.bodyText {
	font:11px arial;
	line-height:24px;
	color:#333333;
	}

.titleHead
{
	color:#7F858e;
}	
.pageName {
	font:20px georgia;
	color: #CC3300;
	letter-spacing:.1em;
	line-height:26px;
	}
	
.subHeader {
	font:14px georgia;
	color: #669999;
	font-weight:bold;
	line-height:20px;
	letter-spacing:.1em;
	}
	
.navText {
	font:10px arial;
	color: #666666;
	letter-spacing:.1em;
	}
	
.calendarText {
	font:11px arial;
	line-height:14px;
	color:#333333;
	}
	
.odd{
    background-color:#555;   
}

.even{
	background-color:#AAA;   
}

/*
.rowHover{
    background-color:#77B;
    color:#FFF;
}

.rowSelected { color: #fc0; }

	
.masterTable
{
    cursor: pointer;
}
*/

#content, #sidebar {
	float: left;
	text-align: left;
}
#content {
	width: 600px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
}

#content a {
	color: #FFF;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	}
	
#content a:hover {
	color: #CCC;
	text-decoration:none;
	}
	
	
	
.content, #sidebar {
	float: left;
	text-align: left;
}
.content {
	width: 600px;
	margin-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
}

.content a {
	color: #FFF;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	}
	
.content a:hover {
	color: #CCC;
	text-decoration:none;
	}

	
#sidebar {
	width: 240px;
	margin-top: 0;
}
.SpryHiddenRegion {
   visibility: hidden;
}

/* Form Elements
----------------------------------------------- */
label, select { 
	font-size: 100%;
	font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
}
select {
	color: #B1B1BC;
	background-color:  #131313;
	border: 1px solid #b1b1bc;
}

/* Table Rules
----------------------------------------------- */
td.rank { }

#users { 
	border-collapse:collapse;
	empty-cells:show;
	width:100%;
	margin: 0;
}
#users caption {
	color: #fff;
	text-transform:uppercase;
	text-align: left;
	font-weight: bold;
	letter-spacing: 0.1em;
	background-color: #FD2800;
	padding: 0.375em;
	border-top: solid 1px #999;
	border-bottom: solid 1px #3a3a3a;
}
#users th {
	padding: 6px 0.25em;
	color: #333333;	
	font-weight: bold;
	margin: 0;
	cursor: pointer;
}

#users th.infocus { background-color: #E6E6E6; }
#users th.selected {	color: #EAEAEA; }

#users td, #users th { 
	margin: 0; 
	padding: 0.25em 0.375em 0.45em 0.375em;
	text-align: left;
	color:#CCC;
}
#users tr {
	border-bottom: solid 1px #202020;
	-moz-user-select: none;
	-khtml-user-select: none;
}
#users tr.infocus {
	background-color:#dfdfdf;
	cursor: pointer;
}

#users tr.notinfocus { background-color:#fff; }
#users tr.selected { color:#fc0; }
#users tbody { margin-top: 0; }


.pug { 
	border-collapse:collapse;
	empty-cells:show;
	width:100%;
	margin: 0;
}
.pug caption {
	color: #fff;
	text-transform:uppercase;
	text-align: left;
	font-weight: bold;
	letter-spacing: 0.1em;
	background-color: #FD2800;
	padding: 0.375em;
	border-top: solid 1px #999;
	border-bottom: solid 1px #3a3a3a;
}
.pug th {
	padding: 6px 0.25em;
	color: #333333;	
	font-weight: bold;
	margin: 0;
	cursor: pointer;
}

.pug th.infocus { background-color: #E6E6E6; }
.pug th.selected {	color: #EAEAEA; }

.pug td, .pug th { 
	margin: 0; 
	padding: 0.25em 0.375em 0.45em 0.375em;
	text-align: left;
	color:#CCC;
}
.pug tr {
	border-bottom: solid 1px #202020;
	-moz-user-select: none;
	-khtml-user-select: none;
}
.pug tr.infocus {
	background-color:#dfdfdf;
	cursor: pointer;
}

.pug tr.notinfocus { background-color:#fff; }
.pug tr.selected { color:#fc0; }
.pug tbody { margin-top: 0; }

.even { background-color: #151515; }

.rowHover {
	color: #000;
	background-color: #777;
	cursor: pointer;
}

.rowSelected { color: #fc0; }


#tooltip {
	border: dotted white 1px; 
	padding: 10px; 
	background-color: #000;
	color:#FFFFFF; 
	text-align: justify; 
	/*font-size: 12px; */
	opacity: 0.75; 
	filter: alpha(opacity = 75);
}
/*#tooltip{
	width: 400px;
	border: 1px dotted black;
	padding-left: 10px;
}*/


.trigger{
}

/*#tooltip_g{
	width: 400px;
	border: 1px dotted black;
	padding-left: 10px;
}*/

#tooltip_g {
	border: dotted white 1px; 
	padding: 10px; 
	background-color: #000;
	color:#FFFFFF; 
	text-align: justify; 
	/*font-size: 12px; */
	opacity: 0.75; 
	filter: alpha(opacity = 75);
}


.trigger_g{
}

.input{
	width:145px;
}

/*
select{
	height:25px;
}

option{
	height:25px;
}*/