/* Global Styles */

body {
    margin:0px;
}

td {
    font:11px arial;
    color:#333333;
}

a {
    color: #cc0000;
    text-decoration:none;
    font-weight:bold;
}

a:hover {
    color: #990000;
    text-decoration:underline;
}

/* ID Styles */

#navigation a {
    font:10px arial;
    /*color: #336666;*/
    color: #FFFFFF;
    text-decoration:none;
    letter-spacing:.1em;
}

#navigation a:hover {
    color: #993300;
    text-decoration:underline;
}

#padding {
    padding:20px 5px 20px 5px;
}

#weekdays th {
    font:10px arial;
    color: #ffffff;
    letter-spacing:.2em;
}

#calheader td {
    font-weight:bold;
}

/* Class Styles */

.bg
{
    background-color:#8B7774;
}
.logo {
    font:18px times new roman;
    /*color: #333300;*/
    color:#CCCCCC;
    letter-spacing:.4em;
    font-weight:bold;
}

.sidebarText {
    font:12px georgia;
    /*color: #336666;*/
    color:#FFFFFF;
    line-height:18px;
}

.bodyText {
    font:11px arial;
    line-height:24px;
    color:#333333;
}

.titleHead
{
    color:#7F858e;
}	
.pageName {
    font:20px georgia;
    color: #CC3300;
    letter-spacing:.1em;
    line-height:26px;
}
.pageName2 {
    font:15px times new roman ;
    color: #7c858e;
    letter-spacing:.1em;
    line-height:26px;
}

.subHeader {
    font:14px georgia;
    color: #669999;
    font-weight:bold;
    line-height:20px;
    letter-spacing:.1em;
}

.navText {
    font:10px arial;
    color: #3333FF;
    letter-spacing:.1em;
}

.calendarText {
    font:11px arial;
    line-height:14px;
    color:#333333;
}
/*heading*/	
ul#nav, ul#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#nav  li {
    position: relative;
    float: left;
    width:149px;
}

#nav li ul {
    position: absolute;
    margin-left: -999em; /* hide menu from view */
    top: auto;
    left:0;
}

/* Styles for Menu Items */
ul#nav  li a {
    
    font:10px arial;
    color: #FFFFFF;
    text-decoration:none;
    letter-spacing:.1em;
    padding: 4px;
    display: block;
    text-align:center;
}
/* commented backslash mac hiding hack \*/ 
* html ul#nav  li a {height:1%;	position:relative;}
/* end hack */ 

/* this sets all hovered lists to red */
#nav li:hover a,#nav  li.over a,
#nav li:hover li a:hover,#nav li.over li a:hover {    
    color:#993300;
    text-decoration:underline;
    background-color:white;
    text-align:center;
}

/* set dropdown to default */
#nav li:hover li a,#nav li.over li a {
    color:white;
    text-decoration:none;	
    background-color:#8b7774;
    /*opacity for IE5+*/
    filter: alpha(opacity=80);
    /*opacity for older Mozilla browsers*/
    -moz-opacity: 0.8;
    /*opacity for mozilla/safari*/
    opacity: 0.8;
    
    
    
    text-align: center;
    text-align: center;
}
#nav li ul li a { padding: 2px 5px; } /* Sub Menu Styles */
#nav li:hover ul,#nav li.over ul {margin-left:0; } /* show menu*/

	
#reportDiv {
	padding:5px;
}

#reportDiv TABLE {
	border-style:solid;
	border-width:1px;
}

#reportDiv TH {
	font-weight:bold;
}

#reportDiv TD {
	padding:10px;
	border-style:solid;
	border-width:1px;
	
}


SELECT {
	width:162px;
	padding:5px;
	height:30px;
}
#editDhForm INPUT,SELECT,TABLE{
	
	}

#dhForm INPUT,SELECT {
		width:100%;
	}
