
.cud {
	width:550px;
	border-style:solid;
	border-color:grey;
	border-width:1px;
	background-color:white;
	top:15%;
	left:20%;
	position:absolute;
	padding:10px;
	font-size:10px;
	font-family:Verdana;
	
}


.cud_order_list {

}

.cud_cust_info {
	font-size:12px;
}


.cud_order_list div.order {
	padding:5px;
	border-style:solid;
	border-width:1px;
	border-color:rgb(20,50,150);
	margin-bottom:5px;
}

.cud_order_list div.order span, .cud_order_list div.order div {
	padding:5px;
	font-size:10px;
}


.cud_order_list div.order .order_no {
	display:block;
	border-style:solid;
	border-width:1px;
	border-color:black;
	color:white;
	background-color:rgb(70,70,90);
	font-weight:bold;
}


.cud_order_list div.order .order_details {
	font-size:10px;
	
}

.cud_order_list div.order .product_list {

	
}

.cud_order_list div.order .product_list .product_row {
	width:85%;
	background-color:rgb(210,210,210);
	border-color:rgb(180,180,180);
	border-style:solid;
	border-width:1px;
	
}

.cud_order_list div.order .product_list .product_row .serial {
	width:150px;
	border-style:solid;
	border-width:1px;
	border-color:blue;
	margin-right:5px;
	position:relative;
}

.cud_order_list div.order .product_list .changed {
	width:70%;
	background-color:rgb(220,220,220);
	border-color:rgb(255,180,180);
	border-style:solid;
	border-width:1px;
}



.cud_order_list div.order .product_list .product_row SELECT{
	width:200px;
	margin-right:5px;
}

